:root {
    --seeBox: black 1px solid;
    --color1: #22577a;
    --color2: #38a3a5;
    --color3: #57cc99;
    --color4: #80ed99;
    --color5: #c7f9cc;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    background-image: linear-gradient(to right, var(--color3), var(--color4));
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(3, 81, 38);
}

#grid-container {
    width: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 1rem;
    row-gap: 1rem;
}
.name-container {
    padding: 20px;
    background-color: var(--color1);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    position: relative;
    color: white;
}

.name-paragraph {
    width: 100%;
    position: relative;
}

.description-container {
    font-size: 20px;
    position: relative;
    top: 1.5 rem;
}

.goals-container{
    background-color: var(--color2);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.list-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul :nth-last-child(1){
    border-bottom: none;
}

.list-item {
    padding: 1.25rem;
    border-bottom: var(--color5) solid 1px;
    border-left: var(--color5) solid 1px;
    color: white;
}